h1,h3 {
  margin-top: 3rem;
}
.list-group {
	flex-direction: row;
}
.sql-tables {
	margin: 0;
	margin-left: 1rem;
	padding: 0;
}
.sql-tables>li {
	list-style: none;
}

.card:not(:last-child) {
  margin-right: 15px;
}

.card-columns .card {
  margin-bottom: 0;
}
